doctype html
html
  head
    script(type='text/javascript').

      var KEY = "davincidoodle.github";

      var codeMatch = window.location.href.match(/^.*?code=([a-z0-9]*)/);
      var uuidMatch = window.location.href.match(/^.*?state=([a-z0-9\-]*)/);

      if (codeMatch) {
        var code = codeMatch[1];

        var github = JSON.parse(window.localStorage.getItem(KEY));

        github.oauth.code = codeMatch[1];

        if (uuidMatch) {
          github.oauth.state = uuidMatch[1];
        }
        else {
          github.oauth.state = undefined;
        }

        window.localStorage.setItem(KEY, JSON.stringify(github));

        window.location.href = "/";
      }
      else {
        alert("Problem authenticating: ");
        console.log(window.location.href);
      }
  body
