extends layout

block content
  script(src=jspmReflectJs)
  script(src=jspmSystemJs)
  script(src=jspmConfigJs)
  script.
    // Used by prerender.io to determine when page is ready to be cached.
    window.prerenderReady = false;
  script.
    if ('serviceWorker'in navigator) {
      navigator.serviceWorker
        .register('/sw.js')
        .then(function() {
          /* console.log("service worker registered."); */
        });
    }
  script.
    var systemLocate = System.locate;
    System.locate = function(load) {
      var System = this;
      return Promise.resolve(systemLocate.call(this, load)).then(function(address) {
        return address + System.cacheBust;
      });
    };
    System.cacheBust = '?version=2.36.18';
    System.defaultJSExtensions = true;
    System.import('js/main.js');
  div(ui-view) Please standby while we download version #{version}
