//-
//- Specifying the doctype is essential because
//- we want to generate       <div data-ui-view></div>,
//- and we don't want to generate <div data-ui-view="data-ui-view">.
//-
doctype html
html(lang="en", data-ng-app='app')
  head
    base(href='/')
    meta(charset="utf-8")
    title #{npm.name}
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="author", edit="David Geo Holmes")
    meta(name="copyright", content="David Geo Holmes")
    meta(name="keywords", content="education, computation, modeling, inquiry, TypeScript, JavaScript, CoffeeScript, Python, programming, free, online, physics, math, geometry, geometric, algebra, units, vectors, functions, webgl")
    meta(name="description", content="")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")
    link(rel="stylesheet", href=css, media="all")
  body(ng-controller='body-controller')
    div(data-ui-view)
    script(src=js)
