doctype html
html(lang='en')
  head
    base(href='/')
    meta(charset="utf-8")
    title STEMCstudio
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="fragment", content="!")
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="author", edit="David Geo Holmes")
    meta(name="copyright", content="David Geo Holmes 2015-2017")
    meta(name="keywords", content="STEMCstudio, STEM, STEM+C, Computing, Partneships, NSF, education, computation, learning, modeling, inquiry, TypeScript, JavaScript, programming, free, online, physics, math, geometry, geometric, algebra, units, vectors, functions, webgl, React, Redux, Pyret, Python, Bootstrap")
    meta(name="description", content="Live Collaborative TypeScript Coding in a Gist")
    meta(name="google-signin-client_id" content="54406425322-nv10ri5f0p6vl3i2nrkbhv8mv9pmb4r1.apps.googleusercontent.com")
    link(rel="manifest", href="/manifest.json")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")
    link(rel="stylesheet", href=css, media="all")
    <!-- Google Analytics -->
    script.
        // Instructs analytics.js to use the name `ga`.
        // This must match the namespace in the AngularJS service.
        window.GoogleAnalyticsObject = 'ga';

        // Creates an initial ga() function.
        // The queued commands will be executed once analytics.js loads.
        window.ga = window.ga || function() {
          (ga.q = ga.q || []).push(arguments)
        };

        // Sets the time (as an integer) this tag was executed.
        // Used for timing hits.
        ga.l = +new Date;

        // Creates a tracker with automatic cookie domain configuration.
        ga('create', 'UA-41504069-5', 'auto');

        // Sends a pageview hit from the tracker just created.
        ga('send', 'pageview');

    <!-- Set the `async` attribute to load the script asynchronously -->
    script(async src='https://www.google-analytics.com/analytics.js')
    <!-- End Google Analytics -->
    <!-- Google Sign-In -->
    script(async defer src='https://apis.google.com/js/platform.js')
    <!-- End Google Sign-In -->
    <!-- AWS SDK for JavaScript -->
    script(src='https://sdk.amazonaws.com/js/aws-sdk-2.3.13.min.js')
    <!-- End AWS SDK for JavaScript -->
  body(ng-controller='body-controller')
    block content
