
.ace-stemcstudio {
  background-color: rgb(28, 28, 28);
  color: rgb(204, 204, 204)
}

/**
 * Bring variables back to the ambient color for now.
 */
.ace-stemcstudio .ace_storage.ace_variable.ace_ts {
  color: rgb(204, 204, 204)
/* A Bold Blue */
/*  color: rgb(102, 153, 255) */
}

/* comments set the general tone */
.ace-stemcstudio .ace_comment {
  font-style: italic;
/*  color: rgb(153, 153, 153) */
  color: rgb(96, 96, 96)
}

.ace-stemcstudio .ace_paren {
/*  color: rgb(255, 255, 255) */
/*  color: rgb(102, 153, 255) */
  color: rgb(153, 153, 153)
}

.ace-stemcstudio .ace_invisible {
  color: rgba(255, 255, 255, 0.1)
}

/**
 * Keywords such as `import`, `export`.
 */
.ace-stemcstudio .ace_keyword {
  color: rgb(158, 158, 250)
/*  color: rgb(153, 153, 255) */
}

/**
 *
 */
.ace-stemcstudio .ace_keyword.ace_operator {
  color: rgb(158, 158, 250)
/*  color: rgb(204, 204, 204) */
}

.ace-stemcstudio .ace_punctuation.ace_operator {
/*  color: rgb(255, 255, 255) */
  color: rgb(204, 204, 204)
}

.ace-stemcstudio .ace_identifier {
/*  color: rgb(152, 249, 190) */
}

.ace-stemcstudio .ace_variable {
/*  color: #7587A6 */
}

/**
 * e.g. `const`,`function`, `let`, `var`
 */
.ace-stemcstudio .ace_storage.ace_type {
  color: rgb(102, 153, 255)
/*  color: rgb(255, 255, 153) */
/*  color: rgb(255, 255, 153) */
}

/**
 * Language
 */
.ace-stemcstudio .ace_language {
/* A Carolina Blue */
  color: rgb(153, 204, 255)
}

/**
 * Language Constants
 */
.ace-stemcstudio .ace_constant.ace_language {
/* A Carolina Blue */
/*  color: rgb(153, 204, 255)*/
/*  color: rgb(255, 255, 153) */
}

.ace-stemcstudio .ace_constant.ace_language.ace_escape {
/* A Carolina Blue */
/*  color: rgb(153, 204, 255) */
/*  color: rgb(255, 255, 153) */
}

/**
 * Language variables such as 'document'.
 */
.ace-stemcstudio .ace_language.ace_variable {
  /* Yellow */
/*  color: rgb(255, 255, 153) */
/*  color: #7587A6 */
}

/**
 * Boolean Literal is treated like a language constant.
 */
.ace-stemcstudio .ace_constant.ace_language.ace_boolean {
/*  color: rgb(255, 255, 153) */
/*  color: rgb(51, 255, 187) */
/*  color: rgb(102, 153, 255) */
/*  color: rgb(255, 255, 255) */
/* A Carolina Blue */
/*  color: rgb(153, 204, 255) */
}
.ace-stemcstudio .ace_constant,
.ace-stemcstudio .ace_constant.ace_character,
.ace-stemcstudio .ace_constant.ace_character.ace_escape,
.ace-stemcstudio .ace_constant.ace_other {

}

/**
 * String Literal
 */
.ace-stemcstudio .ace_string {
  color: rgb(51, 255, 187)
}

/**
 * Numeric Literal
 */
.ace-stemcstudio .ace_constant.ace_numeric {
  color: rgb(205, 168, 105)
/*  color: rgb(255, 102, 153) */
}

/**
 * String Interpolation '${' and '}'
 * Using a dark gray to de-emphasize relative to the text and variables.
 */
.ace-stemcstudio .ace_quasi.ace_paren.ace_start,
.ace-stemcstudio .ace_quasi.ace_paren.ace_end {
  color: rgb(96, 96, 96)
/* A Carolina Blue */
/*  color: rgb(153, 204, 255) */
}

.ace-stemcstudio .ace_gutter {
  background: #232323;
  color: #E2E2E2
}

.ace-stemcstudio .ace_print-margin {
  width: 1px;
  background: #232323
}

.ace-stemcstudio .ace_cursor {
  color: #A7A7A7
}

.ace-stemcstudio .ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20)
}

.ace-stemcstudio.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #141414;
}

.ace-stemcstudio .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace-stemcstudio .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 255, 255, 0.25)
}

.ace-stemcstudio .ace_marker-layer .ace_active-line {
  background: rgba(255, 255, 255, 0.031)
}

.ace-stemcstudio .ace_gutter-active-line {
  background-color: rgba(255, 255, 255, 0.031)
}

.ace-stemcstudio .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(221, 240, 255, 0.20)
}

.ace-stemcstudio .ace_meta {
  color: #CDA869
}

.ace-stemcstudio .ace_heading,
.ace-stemcstudio .ace_markup.ace_heading,
.ace-stemcstudio .ace_support.ace_constant {
/*  color: #CF6A4C */
}

.ace-stemcstudio .ace_invalid.ace_illegal {
  color: #F8F8F8;
  background-color: rgba(86, 45, 86, 0.75)
}

.ace-stemcstudio .ace_invalid.ace_deprecated {
  text-decoration: underline;
  font-style: italic;
  color: #D2A8A1
}

.ace-stemcstudio .ace_support {
/*  color: #9B859D */
}

.ace-stemcstudio .ace_fold {
  background-color: #AC885B;
  border-color: #F8F8F8
}

.ace-stemcstudio .ace_support.ace_function {
/*  color: #DAD085 */
}

.ace-stemcstudio .ace_list,
.ace-stemcstudio .ace_markup.ace_list {
  color: #F9EE98
}

.ace-stemcstudio .ace_entity.ace_name.ace_function,
.ace-stemcstudio .ace_meta.ace_tag {
/*  color: #AC885B */
}

.ace-stemcstudio .ace_string.ace_regexp {
  color: #E9C062
}

.ace-stemcstudio .ace_xml-pe {
  color: #494949
}

.ace-stemcstudio .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWMQERFpYLC1tf0PAAgOAnPnhxyiAAAAAElFTkSuQmCC) right repeat-y
}