<div id='tutorials-page'>
    <nav id='toolbar' class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <a role='button' class='navbar-brand' ng-click='goHome()'>
                <brand />
            </a>
        </div>
        <div class='navbar-header'>
            <span class='md-logo-text-math navbar-brand'>Cookbook</span>
        </div>
    </nav>
    <div class='container md-docs-container'>
        <div class='row'>
            <!-- EIGHT -->
            <div class='md-docs-section'>
                <h1 class='page-header'>EIGHT</h1>
                <div ng-repeat='tutorial in tutorials | filter : {category : "EIGHT"}'>
                    <div class='lead'>
                        <a href='/#/gists/{{tutorial.gistId}}'>{{tutorial.title}}</a>
                    </div>
                    <a ng-if='tutorial.imageSrc' href='/#/gists/{{tutorial.gistId}}'>
                        <img src='{{tutorial.imageSrc}}' alt='{{tutorial.imageAlt}}' height='500' , width='500'><img>
                    </a>
                    <div>{{tutorial.description}}</div>
                </div>
            </div>
        </div>
    </div>

</div>