<div id='doodle-page'>
    <!-- The workspace directive has its own implicit controller, WorkspaceController -->
    <!-- The corresponding scope is WorkspaceScope -->
    <workspace>
        <nav id='toolbar' class='navbar navbar-inverse'>
            <div class='navbar-header'>
                <a role='button' class='navbar-brand' ng-click='goHome()'>
                    <logo-text version='{{version}}' />
                </a>
            </div>
            <div class='ignore-collapse ignore-navbar-collapse'>
                <ul class='nav navbar-nav'>
                    <li>
                        <a role='button' ng-click='toggleExplorer()'>
                            <ng-md-icon icon="{{isExplorerVisible ? 'flip_to_back' : 'flip_to_front'}}" style="fill: {{isExplorerVisible ? '#ffffff' : '#ffffff'}}" size='24' aria-hidden='true' uib-tooltip="{{isExplorerVisible ? 'Hide Code' : 'Show Code'}}" tooltip-placement='left'><ng-md-icon>
                        </a>
                    </li>
                    <li>
                        <a role='button' ng-click='toggleView()' ng-hide='isViewVisible'>
                            <ng-md-icon icon='launch' style="fill: {{true ? '#00ff00' : '#9d9d9d'}}" size='24' aria-hidden='true' uib-tooltip="Launch Program" tooltip-placement='left'><ng-md-icon>
                        </a>
                        <a role='button' ng-click='toggleView()' ng-show='isViewVisible'>
                            <ng-md-icon icon='cancel' style="fill: {{true ? '#ff0000' : '#9d9d9d'}}" size='24' aria-hidden='true' uib-tooltip="Cancel Program" tooltip-placement='left'><ng-md-icon>
                        </a>
                    </li>
                    <li uib-dropdown ng-show='isEditMode'>
                        <a uib-dropdown-toggle role="button" aria-expanded="false" uib-tooltip="Choose Program" tooltip-placement='left'>
                            <ng-md-icon icon='playlist_add_check' style="fill: {{true ? '#ffffff' : '#9d9d9d'}}" size='24' aria-hidden='true'><ng-md-icon>
                        </a>
                        <ul class='dropdown-menu' uib-dropdown-menu role='menu'>
                            <li role='button' ng-repeat='(name, file) in currentDoodle().files' ng-if='name.indexOf(".html") &gt; 0'>
                                <a ng-click='doView(name, file)'>{{name}}&nbsp;
                                    <ng-md-icon icon='done' style="fill: {{true ? '#ffffff' : '#9d9d9d'}}" size='24' aria-hidden='true' ng-if='file.preview'><ng-md-icon>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-show='isEditMode'>
                        <a role='button' ng-click='toggleReadMeVisible()'>
                            <ng-md-icon icon='description' style="fill: {{isReadMeVisible ? '#ffffff' : '#9d9d9d'}}" size='24' aria-hidden='true' uib-tooltip="{{isReadMeVisible ?  'Hide README.md' : 'Show README.md'}}" tooltip-placement='left'><ng-md-icon>
                        </a>
                    </li>
                    <li uib-dropdown ng-show='isEditMode'>
                        <a uib-dropdown-toggle role="button" aria-expanded="false" uib-tooltip="Project Menu" tooltip-placement='left'>
                            <ng-md-icon icon='folder' style="fill: {{true ? '#ffffff' : '#9d9d9d'}}" size='24' aria-hidden='true'><ng-md-icon>
                            <ng-md-icon icon='arrow_drop_down' style="fill: {{true ? '#ffffff' : '#9d9d9d'}}" size='24' aria-hidden='true'><ng-md-icon>
                        </a>
                        <ul uib-dropdown-menu role='menu'>
                            <li>
                                <a role='button' ng-click='doNew()'>New Project</a>
                            </li>
                            <li>
                                <a role='button' ng-click='doOpen()'>Open Project</a>
                            </li>
                            <li>
                                <a role='button' ng-click='doCopy()'>Copy Project</a>
                            </li>
                        </ul>
                    </li>
                    <li uib-dropdown ng-show='isEditMode &amp;&amp; isLoggedIn()'>
                        <a ng-show='isLoggedIn()' uib-dropdown-toggle role="button" aria-expanded="false" uib-tooltip="GitHub Menu" tooltip-placement='left'>
                            <ng-md-icon icon='cloud' style="fill: {{true ? '#ffffff' : '#9d9d9d'}}" size='24' aria-hidden='true'><ng-md-icon>
                        </a>
                        <ul uib-dropdown-menu role="menu">
                            <li>
                                <a ng-click='clickDownload()' ng-show='isLoggedIn()' role='button'>Download</a>
                            </li>
                            <li>
                                <a ng-click='doUpload()' ng-show='isLoggedIn()' role='button'>Upload</a>
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li ng-show='isEditMode'>
                        <a role='button' ng-click='doSettings()'>
                            <ng-md-icon icon='settings' style="fill: {{true ? '#ffffff' : '#9d9d9d'}}" size='24' aria-hidden='true' uib-tooltip="Settings" tooltip-placement='left'><ng-md-icon>
                        </a>
                    </li>
                    -->
                </ul>
            </div>
        </nav>
        <div id='doodle-container'>
            <explorer ng-model='currentDoodle().files' class='explorer' ng-show='isExplorerVisible'></explorer>
            <div id='editors' resizable r-directions="['right']" r-flex='true' ng-if='doodleLoaded' ng-show='isExplorerVisible'>
                <div editor ng-repeat='(name, file) in currentDoodle().files' ng-model='file.content' id='{{name}}' mode='{{file.language}}'
                ng-show='isEditMode &amp;&amp; file.selected'></div>
            </div>
            <div id='output' ng-if='isViewVisible'></div>
            <div id='readme' ng-if='isReadMeVisible'></div>
        </div>
    </workspace>
</div>