<div id='doodle-page'>
  <nav id='toolbar' class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <a role='button' class='navbar-brand' ng-click='goHome()'><md-logo-text/></a>
    </div>
    <div class='ignore-collapse ignore-navbar-collapse'>
      <ul class='nav navbar-nav'>
        <!-- We'll always be in edit mode(less) from now on! -->
        <li ng-show='isEditMode'>
          <a role='button' ng-click='showCode()'>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show='isShowingCode'></span>
            Main
          </a>
        </li>
        <li ng-show='isEditMode'>
          <a role='button' ng-click='showLibs()'>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show='isShowingLibs'></span>
            Libs
          </a>
        </li>
        <li ng-show='isEditMode'>
          <a role='button' ng-click='showHTML()'>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show='isShowingHTML'></span>
            Html
          </a>
        </li>
        <li ng-show='isEditMode'>
          <a role='button' ng-click='showLess()'>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show='isShowingLess'></span>
            Style
          </a>
        </li>
        <li ng-show='isEditMode'>
          <a role='button' ng-click='toggleView()' ng-show='isViewVisible'>
            <span class="glyphicon glyphicon-stop" aria-hidden="true" ng-show='isViewVisible'></span>
            Stop
          </a>
          <a role='button' ng-click='toggleView()' ng-hide='isViewVisible'>
            <span class="glyphicon glyphicon-play" aria-hidden="true" ng-hide='isViewVisible'></span>
            Play
          </a>
        </li>
        <li class='dropdown' ng-show='isEditMode'>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-hdd" aria-hidden='true'></span>
            <span class='caret'></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a role='button' ng-click='doNew()'>New</a></li>
            <li><a role='button' ng-click='doOpen()'>Open</a></li>
            <li><a role='button' ng-click='doCopy()'>Copy</a></li>
            <li class='divider'></li>
            <li><a ng-click='doProperties()' role='button'>Properties</a></li>
          </ul>
        </li>
        <li class='dropdown' ng-show='isEditMode &amp;&amp; isLoggedIn()'>
          <a ng-show='isLoggedIn()' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <span class='caret' ng-show='isLoggedIn()'></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-click='clickDownload()' ng-show='isLoggedIn()' role='button'>
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                Download
              </a>
            </li>
            <li>
              <a ng-click='doUpload()' ng-show='isLoggedIn()' role='button'>
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                Upload
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div id='doodle-container'>
    <div id='editors' resizable r-directions="['right']" r-flex='true'>
      <div id='html-editor' ng-show='isEditMode &amp;&amp; isShowingHTML'></div>
      <div id='code-editor' ng-show='isEditMode &amp;&amp; isShowingCode'></div>
      <div id='libs-editor' ng-show='isEditMode &amp;&amp; isShowingLibs'></div>
      <div id='less-editor' ng-show='isEditMode &amp;&amp; isShowingLess'></div>
    </div>
    <div id='preview'></div>
  </div>
</div>