<div class='modal-content'>
  <div class='modal-header'>
      <button type="button" class="close" data-dismiss="modal" aria-hidden='true' ng-click='doCancel()'>&times;</button>
    <h3>Download Project</h3>
  </div>
  <div class='modal-body'>
    <p ng-repeat='gist in gists track by gist.id'>
      <a ui-sref='gist({gistId: gist.id})'>{{gist.description}}</a>
    </p>
  </div>
  <div class='modal-footer'>
    <button class='btn' ng-click="doPageF()">First</button>
    <button class='btn' ng-click="doPageP()">Previous</button>
    <button class='btn' ng-click="doPageN()">Next</button>
    <button class='btn' ng-click="doPageL()">Last</button>
    <button class='btn' ng-click='doCancel()'>Close</button>
  </div>
</div>
