<!-- Using a name on the form puts the controller on the scope with a property of the same name -->
<form name='labelForm' ng-submit='ok()'>
    <fieldset>
        <!-- legend>Labels and Keywords</legend -->
        <div class="modal-header" style="clear: both">
            <h3 class='modal-title' style="float: left;">
                <logo-text version='{{version}}' />
            </h3>
            <h3 class='modal-title' style="float: right;">Editor Preferences</h3>
        </div>
        <div id='themes-modal-body' class="modal-body">
            <label class='text-muted'>Theme:</label>
            <select ng-model='theme' ng-options='theme.name for theme in themes track by theme.name' data-ng-change='themeChange()'></select>
            <br/>
            <label class='text-muted'>Font Size:</label>
            <select ng-model='fontSize' ng-options='fontSize for fontSize in fontSizes track by fontSize' data-ng-change='fontSizeChange()'></select>
            <br/>
            <label class='checkbox-inline text-muted'>
                <input type='checkbox' ng-model='showInvisibles' data-ng-change='showInvisiblesChange()'>Invisibles</input>
            </label>
            <br/>
            <label class='checkbox-inline text-muted'>
                <input type='checkbox' ng-model='showLineNumbers' data-ng-change='showLineNumbersChange()'>Line Numbers</input>
            </label>
            <br/>
            <label class='checkbox-inline text-muted'>
                <input type='checkbox' ng-model='showFoldWidgets' data-ng-change='showFoldWidgetsChange()'>Fold Widgets</input>
            </label>
            <br/>
            <label class='checkbox-inline text-muted'>
                <input type='checkbox' ng-model='showGutter' data-ng-change='showGutterChange()'>Gutter</input>
            </label>
            <br/>
            <label class='checkbox-inline text-muted'>
                <input type='checkbox' ng-model='displayIndentGuides' data-ng-change='displayIndentGuidesChange()'>Indent Guides</input>
            </label>
            <br/>
            <label class='checkbox-inline text-muted'>
                <input type='checkbox' ng-model='showPrintMargin' data-ng-change='showPrintMarginChange()'>Print Margin</input>
            </label>
            <br/>
            <label class='checkbox-inline text-muted'>
                <input type='checkbox' ng-model='useSoftTabs' data-ng-change='useSoftTabsChange()'>Soft Tabs</input>
            </label>
            <br/>
            <label class='text-muted'>Indent Size:</label>
            <select ng-model='tabSize' ng-options='tabSize for tabSize in tabSizes track by tabSize' data-ng-change='tabSizeChange()'></select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit">OK</button>
        </div>
    </fieldset>
</form>