<div id='examples-page'>
    <nav id='toolbar' class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <a role='button' class='navbar-brand' ng-click='goHome()'>
                <brand />
            </a>
        </div>
        <div class='navbar-header'>
            <span class='md-logo-text-math navbar-brand'>Examples</span>
        </div>
    </nav>
    <div class='container md-docs-container'>
        <div class='row'>
            <div class='col-md-9' role='main'>

                <div class='md-docs-section'>

                    <!-- Physics -->
                    <div class='md-docs-section'>

                        <h1 class='page-header'>Physics Modeling</h1>

                        <div ng-repeat='example in examples | filter : {category : "Physics"}'>
                            <p class='lead'>
                                <a href='/#/gists/{{example.gistId}}'>{{example.title}}</a>
                            </p>
                            <p>{{example.description}}</p>
                        </div>
                    </div>

                    <!-- Graphics -->
                    <div class='md-docs-section'>

                        <h1 class='page-header'>3D Computer Graphics</h1>

                        <div ng-repeat='example in examples | filter : {category : "Graphics"}'>
                            <p class='lead'>
                                <a href='/#/gists/{{example.gistId}}'>{{example.title}}</a>
                            </p>
                            <p>{{example.description}}</p>
                        </div>

                    </div>

                    <!-- Mathematics -->
                    <div class='md-docs-section'>
                        <h1 class='page-header'>Mathematics</h1>

                        <div ng-repeat='example in examples | filter : {category : "Mathematics"}'>
                            <p class='lead'>
                                <a href='/#/gists/{{example.gistId}}'>{{example.title}}</a>
                            </p>
                            <p>{{example.description}}</p>
                        </div>
                        <!--
          <p class='lead'>
            <a href='/#/gists/8571a36545d10f34bfef'>Fundamental Theorem of Algebra</a>
          <p>
          Colors a complex (G2+) function in the Wessel (Argand) plane in order to visualize the direction. This may be used as a basis for introductory arguments for the Fundamental Theorem of Algebra.
          </p>
          <p>
          This example takes advantage of the GPU using custom shader programs for fast rendering.
          </p>
          <p class='lead'>
            <a href='/#/gists/5c70bee3c68b2b7a4572'>Mandelbrot Set</a>
          <p>
          A rendering of the Mandelbrot Set.
          </p>
          <p class='lead'>
            <a href='/#/gists/39390d95450ff9159b8e'>Julia Set</a>
          <p>
          A rendering of the Julia Set in 2D. Interestingly, this may be generalized to 3D and higher dimensions through the use of Geometric Algebra.
          </p>
          <p class='lead'>
          <a href='/#/gists/d4a1b374cb80ca178ad2'>Eight Surface</a>
          <p>
          This example demonstrates the flexibility inherent in an environment that is based upon
          general-purpose programming with standards-based tools.
          </p>
          -->
                    </div>

                    <!-- Games -->
                    <div class='md-docs-section'>

                        <h1 class='page-header'>Game Development Projects</h1>

                        <div ng-repeat='example in examples | filter : {category : "Games"}'>
                            <p class='lead'>
                                <a href='/#/gists/{{example.gistId}}'>{{example.title}}</a>
                            </p>
                            <p>{{example.description}}</p>
                        </div>

                    </div>

                    <!-- Misc -->
                    <!--
        <div class='md-docs-section'>

          <h1 class='page-header'>Miscellaneous</h1>

          <p class='lead'><a href='/#/gists/8d58e1a9412168b987f7'>SingleViewApp</a></p>
          <p>
          Demonstrates a lightweigh application framework for minimizing boilerplate code in a browser application using Eight.Js. This framework creates a single Viewport for a Scene with a Linear Perspective Camera and DirectionalLight. The framework coordinates with DOM loading and cleans up correctly when the window is unloaded. See the API reference for details.
          </p>

          <p class='lead'><a href='/#/gists/2685e5f638fe34a7f97f'>MultiViewApp</a></p>
          <p>
          Upgrade a single view application to multiple viewports.
          </p>

          <p class='lead'><a href='/#/gists/d1259b443308060443a1'>Orbit Controls</a></p>
          <p>
          Controls that keep the camera upright.
          </p>

        </div>
        -->

                </div>
            </div>
        </div>
    </div>

</div>