<div id='examples-page'>
    <nav id='toolbar' class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <a role='button' class='navbar-brand' ng-click='goHome()'>
                <brand />
            </a>
        </div>
        <div class='navbar-header'>
            <span class='md-logo-text-math navbar-brand'>Examples</span>
        </div>
    </nav>
    <div class='container md-docs-container'>
        <div class='row'>
            <div class='col-md-9' role='main'>
                <div class='md-docs-section'>
                    <div ng-repeat='category in categories' class='md-docs-section'>
                        <h1 class='page-header'>{{category}}</h1>
                        <div ng-repeat='example in examples | filter : {category}'>
                            <p class='lead'>
                                <a href='/gists/{{example.gistId}}'>{{example.title}} (Level: {{example.level}})</a>
                            </p>
                            <p>
                                <a href='/gists/{{example.gistId}}'>
                                    <img src='{{example.imageSrc}}' alt='{{example.imageAlt}}' height='300' , width='300'><img>
                                </a>
                            </p>
                            <p>{{example.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>