<div id='home-page'>
    <nav id='toolbar' class='navbar navbar-inverse'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-header-collapse'>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a role='button' class='navbar-brand' ng-click='goHome()'>
                    <brand />
                </a>
                <button type="button" class="btn btn-primary navbar-btn" ng-click='goDoodle()'>Code Now!</button>
                <button ng-if='FEATURE_EXAMPLES_ENABLED' type="button" class="btn btn-secondary navbar-btn" ng-click='goExamples()'>Examples</button>
                <button ng-if='FEATURE_DASHBOARD_ENABLED' type="button" class="btn btn-secondary navbar-btn" ng-click='goDashboard()' ng-show='isGitHubSignedIn()'>Dashboard</button>
                <form class="navbar-search pull-right" ng-submit='doSearch()'>
                    <input type="text" ng-model='params.query' class="search-query" placeholder="Search">
                </form>
            </div>
            <div class='collapse navbar-collapse' id='navbar-header-collapse'>
                <a ng-show='github.isLoggedIn()' ng-controller='github-login-controller as github' role='button' ng-click='github.toggleLogin()'
                class='navbar-brand navbar-right'>
                    <span ng-show='github.isLoggedIn()' uib-tooltip="Sign out from GitHub" tooltip-placement='bottom'>{{userLogin()}}</span>
                </a>
                <button ng-hide='github.isLoggedIn()' ng-controller='github-login-controller as github' type="button" class="btn btn-github navbar-btn navbar-right"
                ng-click='github.toggleLogin()' uib-tooltip="Signing in to GitHub allows you to save your projects to your personal GitHub account (Recommended)"
                tooltip-placement='bottom'>
                    <span ng-hide='github.isLoggedIn()'>Sign in to GitHub</span>
                    <span ng-show='github.isLoggedIn()'>Signed in as {{userLogin()}}</span>
                </button>
            </div>
        </div>
    </nav>
    <div class='md-docs-header'>
        <div class='container'>
            <h1><logo-text version='{{version}}'/></h1>
            <!-- p>Learning STEM through Computational Modeling</p -->
            <p>(STEM, Computation) => Mastery</p>
        </div>
    </div>
    <div class='container md-docs-container'>
        <div class='row'>
            <div class='col-md-9' role='main'>
                <div class='md-docs-section'>
                    <!-- h1 id='overview' class='page-header'>{{}}</h1 -->
                    <div class="thumbnails">
                        <article class="thumbnail" ng-repeat='doodle in doodleRefs'>
                            <header>
                                <h1 class='title'><a  ng-href='/#/gists/{{doodle.gistId}}'>{{ doodle.title | uppercase }}</a></h1>
                                <p class='author'>{{doodle.author}}</p>
                                <p class='keyword' ng-repeat='keyword in doodle.keywords'>{{keyword}}</p>
                            </header>
                            <footer>
                            </footer>
                        </article>
                    </div>
                    <div ng-if='found === 0 && params.query === query'>
                        <p>Your search - <b>{{query}}</b> - did not match any documents.</p>
                        <p>Suggestions:</p>
                        <ul>
                            <li>Make sure all words are spelled correctly.</li>
                            <li>Try different keywords.</li>
                            <li>Try more general keywords.</li>
                            <li>Try fewer keywords.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>