<div id='home-page'>
    <nav id='toolbar' class='navbar navbar-inverse'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-header-collapse'>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class='navbar-brand'>
                    <brand />
                </div>
                <button type="button" class="btn btn-primary navbar-btn" ng-click='clickCodeNow()'>Code Now!</button>
                <button ng-if='FEATURE_EXAMPLES_ENABLED' type="button" class="btn btn-secondary navbar-btn" ng-click='goExamples()'>Examples</button>
                <!-- button ng-if='FEATURE_DASHBOARD_ENABLED' type="button" class="btn btn-secondary navbar-btn" ng-click='goDashboard()' ng-show='isGitHubSignedIn()'>Dashboard</button -->
                <a role="button" class="btn btn-secondary navbar-btn" ng-href='/stemcstudio-overview-2017-03-24.pdf' download='STEMCstudio.pdf'>Download PDF</a>
                <a role="button" class="btn btn-secondary navbar-btn" ng-href='https://github.com/stemcstudio/stemcstudio/wiki' target='_blank'>User Guide</a>
                <a role="button" class="btn btn-secondary navbar-btn" ng-href='https://github.com/stemcstudio/stemcstudio/issues' target='_blank'>Feedback</a>
                <form class="navbar-search pull-right" ng-submit='doSearch()'>
                    <input type="text" ng-model='params.query' class="search-query" placeholder="Search arXiv">
                </form>
            </div>
            <div class='collapse navbar-collapse' id='navbar-header-collapse'>
                <a ng-show='github.isLoggedIn()' ng-controller='github-login-controller as github' role='button' ng-click='github.toggleLogin()'
                    class='navbar-brand navbar-right'>
                    <span ng-show='github.isLoggedIn()' uib-tooltip="Sign out from GitHub" tooltip-placement='bottom'>{{ userLogin() ? userLogin() : 'Unknown' }}</span>
                </a>
                <button ng-hide='github.isLoggedIn()' ng-controller='github-login-controller as github' type="button" class="btn btn-github navbar-btn navbar-right"
                    ng-click='github.toggleLogin()' uib-tooltip="Signing in to GitHub allows you to save your projects to your personal GitHub account (Recommended)"
                    tooltip-placement='bottom'>
                    <span ng-hide='github.isLoggedIn()'>Sign in to GitHub</span>
                    <span ng-show='github.isLoggedIn()'>Signed in as {{userLogin()}}</span>
                </button>
            </div>
        </div>
    </nav>
    <div class='md-docs-header'>
        <div class='container'>
            <h1>
                <logo-text version='{{version}}' />
            </h1>
            <p>Live Collaborative TypeScript Coding in a Gist</p>
        </div>
    </div>
    <div class='container md-docs-container'>
        <div class='row'>
            <div class='col-md-9' role='main'>
                <div class='md-docs-section' ng-if='params.query'>
                    <!-- Search -->
                    <h1 id='overview' class='page-header'>arXiv</h1>
                    <div class="thumbnails">
                        <article class="thumbnail" ng-repeat='doodle in doodleRefs'>
                            <header>
                                <!-- The DoodleRef has the title property -->
                                <h1 class='title'><a role='button' ng-href='/#/gists/{{doodle.gistId}}'>{{ (doodle.title ? doodle.title : 'Untitled') }}</a></h1>
                                <p class='author'>{{doodle.author ? doodle.author : 'Anonymous' }}</p>
                                <p class='keyword' ng-repeat='keyword in doodle.keywords'>{{keyword}}</p>
                            </header>
                            <footer>
                            </footer>
                        </article>
                    </div>
                    <div ng-if='found === 0 && params.query === query'>
                        <p>Your search did not match any documents.</p>
                        <p><span>Suggestions</span>:</p>
                        <ul>
                            <li>Make sure all words are spelled correctly.</li>
                            <li>Try different keywords.</li>
                            <li>Try more general keywords.</li>
                            <li>Try fewer keywords.</li>
                        </ul>
                    </div>
                </div>
                <div class='md-docs-section'>
                    <!-- Local Storage -->
                    <h1 id='overview' class='page-header'>Local Storage</h1>
                    <div class="thumbnails">
                        <article class="thumbnail" ng-repeat='doodle in doodles()'>
                            <header>
                                <!-- The Doodle has the description property -->
                                <h1 class='title'>
                                    <a role='button' ng-click='doDelete(doodle)' class='delete' uib-tooltip="Delete..." tooltop-placement='bottom'>&times;</a>
                                    <a role='button' ng-click='doOpen(doodle)'>{{ (doodle.description ? doodle.description : 'Untitled') }}</a>
                                </h1>
                                <p class='author'>{{doodle.author ? doodle.author : 'Anonymous' }}</p>
                                <p class='keyword' ng-repeat='keyword in doodle.keywords'>{{keyword}}</p>
                            </header>
                            <footer>
                            </footer>
                        </article>
                    </div>
                    <div ng-if='doodles().length === 0'>
                        <p>Your do not have any documents in your Local Storage.</p>
                        <p><span>Suggestions</span>:</p>
                        <ul>
                            <li>Code Now!</li>
                            <!-- li>Learn using the Tutorials.</li -->
                            <!-- li>Take a look at some of the Examples.</li -->
                            <li>Search the arXiv.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>