<div id='home-page'>
    <nav id='toolbar' class='navbar navbar-inverse'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <!-- button -->
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-header-collapse'>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a role='button' class='navbar-brand' ng-click='goHome()'>
                    <brand />
                </a>
                <!-- navbar-btn centers vertically outside of forms -->
                <button type="button" class="btn btn-primary navbar-btn" ng-click='goDoodle()'>Code Now!</button>
                <button ng-if='FEATURE_EXAMPLES_ENABLED' type="button" class="btn btn-secondary navbar-btn" ng-click='goExamples()'>Examples</button>
                <button ng-if='FEATURE_DASHBOARD_ENABLED' type="button" class="btn btn-secondary navbar-btn" ng-click='goDashboard()' ng-show='isGitHubSignedIn()'>Dashboard</button>
                <button type="button" class="btn btn-secondary navbar-btn" ng-click='goSearch()'>Search</button>
            </div>
            <!-- id is the data-target of the button above -->
            <div class='collapse navbar-collapse' id='navbar-header-collapse'>
                <a ng-show='github.isLoggedIn()' ng-controller='github-login-controller as github' role='button' ng-click='github.toggleLogin()' class='navbar-brand navbar-right'>
                    <ng-md-icon icon='github-box' style="fill: #ffffff;" size='24' aria-hidden='true' uib-tooltip="Sign out from GitHub"
                    tooltip-placement='bottom'>
                    <ng-md-icon>
                </a>
                <!-- navbar-btn centers vertically by setting margin-top and margin-bottom -->
                <!-- navbar-btn centers vertically by setting margin-top and margin-bottom -->
                <button ng-hide='github.isLoggedIn()' ng-controller='github-login-controller as github' type="button" class="btn btn-github navbar-btn navbar-right" ng-click='github.toggleLogin()'>
                    <span ng-hide='github.isLoggedIn()'>Sign in to GitHub</span>
                    <span ng-show='github.isLoggedIn()'>Signed in as {{userLogin()}}</span>
                </button>
                <!--
                <div ng-controller='github-login-controller as github' button-id="github-button-id" class='navbar-btn navbar-right login-provider-button-container'>
                    <div style="height:34px;width:240px;" class="stemcButton stemcButtonGray">
                        <div class="stemcButtonContentWrapper" ng-click="github.login()">
                            <div class="stemcButtonIcon" style="padding:7px;">
                                <ng-md-icon icon="github-circle" size='18' />
                            </div>
                            <span style="font-size:13px;line-height:32px;" class="stemcButtonContents">
                             <span ng-hide='isGitHubSignedIn()'>Sign in with GitHub</span>
                            <span ng-show='isGitHubSignedIn()'>Signed in with GitHub</span>
                            </span>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </nav>

    <div class='md-docs-header'>
        <div class='container'>
            <h1><logo-text version='{{version}}'/></h1>
            <p>Learning STEM through Computational Modeling</p>
        </div>
    </div>
</div>