<div id='login-page'>
    <nav id='toolbar' class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <a role='button' class='navbar-brand' ng-click='goHome()'>
                <brand />
            </a>
        </div>
        <div class='navbar-header'>
            <span class='md-logo-text-math navbar-brand'>Sign In</span>
        </div>
    </nav>
    <div class='login-container'>
        <div class='container md-docs-container'>
            <div class='row'>
                <div class='col-md-9' role='main'>
                    <div class='md-docs-section'>
                        <h1 class='page-header'>Source Management</h1>
                        <p class='lead'>
                            Save your work to your personal GitHub account.
                        </p>
                        <div class='login-provider-buttons'>
                            <div ng-controller='github-login-controller as github' ng-if='FEATURE_GITHUB_SIGNIN_ENABLED' button-id="github-button-id"
                                options="options" class='login-provider-button-container'>
                                <div style="height:34px;width:240px;" class="stemcButton stemcButtonGray">
                                    <div class="stemcButtonContentWrapper" ng-click="github.login()">
                                        <div class="stemcButtonIcon" style="padding:7px;">
                                            <ng-md-icon icon="github-circle" size='18' />
                                        </div>
                                        <span style="font-size:13px;line-height:32px;" class="stemcButtonContents">
                                            <span ng-hide='isGitHubSignedIn()'>Sign in with GitHub</span>
                                        <span ng-show='isGitHubSignedIn()'>Signed in with GitHub</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='md-docs-section'>
                        <h1 class='page-header'>STEMCstudio Platform</h1>
                        <p class='lead'>
                            Publish your work, and gain access to other platform features.
                        </p>
                        <div class='login-provider-buttons'>
                            <div ng-if='FEATURE_GOOGLE_SIGNIN_ENABLED' class='login-provider-button-container'>
                                <google-sign-in-button ng-if='FEATURE_GOOGLE_SIGNIN_ENABLED' button-id="google-button-id" options="googleSignInOptions"></google-sign-in-button>
                            </div>
                            <div ng-controller='twitter-login-controller as twitter' ng-if='FEATURE_TWITTER_SIGNIN_ENABLED' button-id="github-button-id"
                                options="options" class='login-provider-button-container'>
                                <div style="height:34px;width:240px;" class="stemcButton stemcButtonTwitter">
                                    <div class="stemcButtonContentWrapper" ng-click="twitter.login()">
                                        <div class="stemcButtonIcon" style="padding:7px;">
                                            <ng-md-icon icon="twitter" size='18' />
                                        </div>
                                        <span style="font-size:13px;line-height:32px;" class="stemcButtonContents">
                                            <span>Sign in with Twitter</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-controller='facebook-login-controller as facebook' ng-if='FEATURE_FACEBOOK_SIGNIN_ENABLED' button-id="github-button-id"
                                options="options" class='login-provider-button-container'>
                                <div style="height:34px;width:240px;" class="stemcButton stemcButtonFacebook">
                                    <div class="stemcButtonContentWrapper" ng-click="facebook.login()">
                                        <div class="stemcButtonIcon" style="padding:7px;">
                                            <ng-md-icon icon="facebook" size='18' />
                                        </div>
                                        <span style="font-size:13px;line-height:32px;" class="stemcButtonContents">
                                            <span>Sign in with Facebook</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>