<div class="modal-header" style="clear: both">
    <h3 class='modal-title' style="float: left;"><logo-text version='{{version}}'/></h3>
    <h3 class='modal-title' style="float: right;">Publish Settings</h3>
</div>
<div id='publish-modal-body' class="modal-body">
    <h3>Subject</h3>
    <ui-select ng-model="selected.category" theme="select2" on-select='onCategorySelect($item, $model)' ng-disabled="!categoriesEnabled"
    style="min-width: 200px;" title="Choose a Category">
        <ui-select-match placeholder="Select a category in the list or search...">{{$select.selected.title}}</ui-select-match>
        <!-- $item is the category, $model is category.code -->
        <ui-select-choices repeat="category.code as category in categories | propsFilter: {title: $select.search} track by category.code">
            <div ng-bind-html="category.title | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <h3>Book</h3>
    <ui-select ng-model="selected.book" theme="select2" on-select='onBookSelect($item, $model)' ng-disabled="!booksEnabled" style="min-width: 200px;" title="Choose a Book">
        <ui-select-match placeholder="Select a book in the list or search...">{{$select.selected.title}}</ui-select-match>
        <ui-select-choices repeat="book.code as book in books | propsFilter: {title: $select.search} track by book.code">
            <div ng-bind-html="book.title | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <h3>Chapter</h3>
    <ui-select ng-model="selected.chapter" theme="select2" on-select='onChapterSelect($item, $model)' ng-disabled="!chaptersEnabled" style="min-width: 200px;" title="Choose a Chapter">
        <ui-select-match placeholder="Select a chapter in the list or search...">{{$select.selected.title}}</ui-select-match>
        <ui-select-choices repeat="chapter.code as chapter in chapters | propsFilter: {title: $select.search}">
            <div ng-bind-html="chapter.title | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <h3>Topic</h3>
    <ui-select ng-model="selected.topic" theme="select2" on-select='onTopicSelect($item, $model)' ng-disabled="!topicsEnabled" style="min-width: 200px;" title="Choose a Topic">
        <ui-select-match placeholder="Select a topic in the list or search...">{{$select.selected.title}}</ui-select-match>
        <ui-select-choices repeat="topic.title as topic in topics | propsFilter: {title: $select.search}">
            <div ng-bind-html="topic.title | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <h3>Level</h3>
    <ui-select ng-model="ctrl.level.selected" theme="select2" style="min-width: 200px;" title="Choose a Level">
        <ui-select-match placeholder="Select a level in the list or search...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="level.name as level in levels | propsFilter: {name: $select.search}">
            <div ng-bind-html="level.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" data-ng-click="ok()">Publish</button>
</div>